footer {
	background: $secondary-color;
	color: #fff;
	padding: 1em 0;

	.ed-creditos {
		//Creditos de Escuela Digital
		opacity: .3;
		text-align: center;
		-webkit-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;

		&:hover {
			opacity: .8;
		}

		@media #{$large} {
			float: right;
		}

		a {
			color: #fff;
			text-decoration: none;
		}
	}
}