// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "scss/_variables.scss" file. You may not need to write any code.

a {
	color: $primary-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:active {

	}
}

body {
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
	color: $secondary-color;
	font-family: arial;
}

p {
	font-size: .9em;
	margin-bottom: 1em;
}